<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <!-- actions -->
   <extension
		point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="#CompilationUnitEditorContext"
			id="org.seasar.s2daoplugin.sqlopener.viewer">
			<action
     			id="org.seasar.s2daoplugin.sqlopener.viewer.open"
	     		class="org.seasar.s2daoplugin.sqlopener.SqlOpenEditorAction"
	 			label="%SQLFileOpenAction.label"
				menubarPath="additions"/>
		</viewerContribution>
		<objectContribution
			id="org.seasar.s2daoplugin.sqlopener.object"
			adaptable="true"
			objectClass="org.eclipse.jdt.core.IJavaElement">
			<visibility>
				<or>
					<objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
					<objectClass name="org.eclipse.jdt.core.IType"/>
					<objectClass name="org.eclipse.jdt.core.IMethod"/>
				</or>
			</visibility>
			<action
				id="org.seasar.s2daoplugin.sqlopener.object.open"
				class="org.seasar.s2daoplugin.sqlopener.SqlOpenObjectAction"
				label="%SQLFileOpenAction.label"
				menubarPath="additions"/>
		</objectContribution>
   </extension>
   
   <!-- nature, builder -->
   <extension
   		point="org.eclipse.core.resources.natures"
   		id="s2daonature">
   		<runtime>
   			<run class="org.seasar.s2daoplugin.S2DaoNature"/>
   		</runtime>
   		<builder id="org.seasar.s2daoplugin.sqlmarkerbuilder"/>
   </extension>
   <extension
   		point="org.eclipse.core.resources.builders"
   		id="sqlmarkerbuilder"
   		name="%plugin.builder.sqlmarker">
   		<builder>
   			<run class="org.seasar.s2daoplugin.sqlmarker.SqlMarkerBuilder"/>
   		</builder>
   </extension>
   <extension
   		point="org.eclipse.core.resources.natures"
   		id="cachenature">
   		<runtime>
   			<run class="org.seasar.s2daoplugin.cache.project.CacheNature"/>
   		</runtime>
   		<builder id="org.seasar.s2daoplugin.cachebuilder"/>
   </extension>
   <extension
   		point="org.eclipse.core.resources.builders"
   		id="cachebuilder"
   		name="%plugin.builder.cache">
   		<builder>
   			<run class="org.seasar.s2daoplugin.cache.project.CacheBuilder"/>
   		</builder>
   </extension>
   
   <!-- project property page -->
   <extension
   		point="org.eclipse.ui.propertyPages">
   		<page
   			id="org.seasar.s2daoplugin.propertypage"
   			adaptable="true"
   			name="%plugin.propertypage"
   			objectClass="org.eclipse.core.resources.IProject"
   			class="org.seasar.s2daoplugin.property.S2DaoPropertyPage">
   		</page>
   </extension>
   
   <!-- marker, marker image provider -->
   <extension
   		point="org.eclipse.core.resources.markers"
   		id="sqlmarker"
   		name="SQL">
   		<super type="org.eclipse.core.resources.textmarker"/>
   		<persistent value="false"/>
   </extension>
   <extension
  		point="org.eclipse.ui.ide.markerImageProviders">
  		<imageprovider
  			markertype="org.seasar.s2daoplugin.sqlmarker"
            icon="icons/sql_marker.gif"
            id="org.seasar.s2daoplugin.sqlmarker.imageprovider"/>
   </extension>

</plugin>
